{% load static %}
<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>博客</title>
    <link rel='stylesheet' id='bootstrap-css' href='{% static "css/bootstrap.min.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='style-css' href='{% static "css/style.css" %}' type='text/css' media='all'/>
    <link rel="stylesheet" id="code-css" href="{% static "css/code.css" %}" type="text/css" media="all">
</head>
<body>
<!-- 头部 -->
<header class="navbar fixed-top header-main">
    <div class="header-main-div">
        <nav class="navbar navbar-expand-sm justify-content-between">
            <a class="navbar-brand" href="/">
                主站
            </a>
            <ul class="navbar-nav">
                {% for category in all_category %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'index' %}list-{{ category.id }}.html">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}

<!-- 底部 -->
<footer class="footer">
</footer>

<!--JS文件-->
<script type='text/javascript' src='{% static "js/jquery-3.5.1.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/bootstrap.min.js" %}'></script>
</body>
</html>